$mainPaddings: 7px 10px;
$mainBorderRadius: 3px;

$mainColor: #FFFFFF;
$mainBgColor: #7ECBFA;

$addButtonColor: #2369F6;
$addButtonHoverColor: hsl(220, 92%, 55%, .7);

$taskBgColor: #BEE5FD;
$removeButtonColor: #EA0000;
$removeButtonHoverColor: #D11507;